.hero-section {
  background: url("../images/homepage.avif") center center/cover no-repeat;
  height: 85vh;
  position: relative;
  color: white;
}

.watch-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 145px;
  right: 55px;
}

.watch-btn:hover {
  background: white;
  color: black;
}

.crd-img {
  width: 100%;
  max-width: 330px;
  height: 100%;
  max-height: 400px;
}

p {
  word-wrap: break-word;
  display: block;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
