/* .container-fluid {
  height: 100%;
} */

header {
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
  z-index: 1;
  position: relative;
  top: 85px;
}

footer {
  height: 150px;
  background-color: blue;
}
